<h1>answer</h1>


<p><%= params[:question] %></p>

<% if params[:question] == 'I am going to work'%>
<p> Silly question, get dressed and go to work!</p>
<% elsif params[:question].end_with?("?") %>
<p> 'Silly question, get dressed and go to work!'</p>
<%else%>
<p> "I don't care, get dressed and go to work!"</p>
<%end%>
